
/*************************************************************************/

h1 { font-size: 3em !important; }
h2 { font-size: 2em !important; }
h3 { font-size: 1.8em !important; }
h4 { font-size: 1.6em !important; }
h5 { font-size: 1.4em !important; }
h6 { font-size: 1.2em !important; }

/**************************************************************************/


/* Fix width **************************************************************/

.tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-preview-section > div,
.tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-reading-section,
.tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-reading-section > div {   
   width: 87% !important;
   max-width: 87% !important;
 }

.tony-dashboard .cm-sizer {
    --line-width: 75% !important;
}

/*************************************************************************/


/* Callout titles ********************************************************/

.tony-dashboard .callout[data-callout="row"] .callout-title {
    display: none;
}

.tony-dashboard .callout[data-callout="col"] .callout-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/*************************************************************************/


/* No icon */
.tony-dashboard .callout[data-callout="col"] .callout-icon {
    display: none;
}



/* Callout (general) *****************************************************/

.tony-dashboard div.callout[data-callout="row"] {
    width: 100%;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.tony-dashboard div.callout[data-callout="col"] {
    padding: 0px;
    background-color: rgba(0, 0, 0, .03);
    padding-top: 20px;
    border-radius: 30px;
    width: 100%;
}

/*************************************************************************/


/* Callout content *******************************************************/

.tony-dashboard .callout[data-callout="row"] .callout-content {
    display: flex;
    flex-flow: row;
    column-gap: 50px;
}

.tony-dashboard .callout[data-callout="col"] .callout-content {
    display: flex;
    flex-flow: column;
    max-height: 500px;
    padding-bottom: 20px;
    padding-right: 5px;
}

/*************************************************************************/


.tony-dashboard .callout-content > h3 {
    margin: 0px;
    padding-bottom: 10px;
}

/* TODO TODO: DO I NEED THIS!?!!? */
.tony-dashboard .dataview.task-list-item {
    padding: 5px;
}



/* Style the Todo list entries *******************************************/

.tony-task-due-date-divider {
    height: 27px;
}

.tony-task-div {
    display: flex;
    border-radius: 21px;
    cursor: default;
    /* background-color: #EFEFEF; */
    background-color: rgba(255, 255, 255, .7);
}

.tony-task-left {
    width: 17px;
}

.tony-task-right {
    width: 53px;
    max-width: 53px;
    min-width: 53px;
    border-radius: 0px 19px 19px 0px;
}

.tony-task-right:hover {
    cursor: pointer;
}

.tony-task-middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 17px;
    padding-bottom: 17px;
}

.tony-task-top-half {

}

.tony-task-bottom-half {
    display: flex;
    justify-items: end;
    width: 97%;
    padding-top: 17px;
    align-items: center;
}

.tony-task-due-holder {
    display: flex;
    flex-grow: 1;
}


.tony-task-title {
    display: flex;
}

.tony-task-link {
    margin-right: 17px;
}

.tony-dashboard ul.dataview.list-view-ul {
    padding-inline-start: 0px;
}

.tony-dashboard a.tony-task-link {
    font-size: 1.2em;
    text-decoration: none !important;
    color: black !important;
    font-weight: 600;
    margin-right: 27px;
}

.tony-dashboard li {
    list-style-type: none;
}

.tony-dashboard .inline-field {
    display: none;
}

.tony-dashboard .subtask-indicator {
    font-size: 0.5em;
    color: grey;
}

.tony-dashboard .tony-task-due {
    font-weight: 600;
    width: 100%;
    text-align: right;
}

.tony-dashboard .tony-task-overdue {
    color: rgba(190, 0, 0, 1);
}

.tony-dashboard .tony-task-no-due-date {
    font-weight: 400;
    font-style: italic;
}

/*************************************************************************/




/*************************************************************************/

.tony-dashboard .tony-task-tags-holder {
    display: flex;
    column-gap: 10px;
}

.tony-dashboard .tony-task-tag {
    background-color: #DCDCDC;
    font-size: .9em;
    font-weight: 600;
    border-radius: 10px;
    padding: 2px 8px;
}

.tony-dashboard .nypl-tag {
    background-color: rgba(255, 0, 0, .5);
}

.tony-dashboard .volunteer-tag {
    background-color: #FFE4B5;
}

.tony-dashboard .life-tag {
    background-color: rgba(64, 130, 109, .5);
}

.tony-dashboard .AA-tag {
    background-color: #DDA0DD;
}

.tony-dashboard .doh-tag {
    background-color: #B0E0E6;
}


/*************************************************************************/





/*========================================================================*/
/*========================================================================*/


/*************************************************************************/

.view-content .tony-dashboard {
    background-color: #fffaf3 !important;
}

.view-content .tony-small-dashboard {
    background-color: #f7f2eb !important;
}

.dont-show-tags .metadata-container {
    display: none !important;
}

.dont-show-title .inline-title {
    display: none !important;
}

.tony-small-dashboard li {
    padding-bottom: 1em !important;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
}

.tony-small-dashboard div.mb-button {
    max-width: 727px;
    margin: auto;
}


.tony-small-dashboard.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.tony-small-dashboard.markdown-preview-view.is-readable-line-width .markdown-preview-section > div,
.tony-small-dashboard.markdown-preview-view.is-readable-line-width .markdown-reading-section,
.tony-small-dashboard.markdown-preview-view.is-readable-line-width .markdown-reading-section > div {   
   width: 100% !important;
   max-width: 100% !important;
}



/*************************************************************************/


/*************************************************************************/
/**
  * For the Tasks modal
  */

/*
#recurrence, #recurrence + code, label[for='recurrence'], #scheduled,
#scheduled + code, label[for='scheduled'], #scheduled, #scheduled + code,
label[for='scheduled'], #start, #start + code, label[for='start'], #created,
#created + code, label[for='created'], #done, #done + code, label[for='done'],
#cancelled, #cancelled + code, label[for='cancelled'], #forwardOnly,
#forwardOnly + code, label[for='forwardOnly'], label.tasks-modal-warning,
label[for='status'], input#status, label[for='blockedBy'],
label[for='blockedBy'] + span, label[for='blockedBy'] + span + div,
label[for='blocking'], label[for='blocking'] + span,
label[for='blocking'] + span + div,
.tasks-modal-section.tasks-modal-dates:has(> input#created),
.tasks-modal-section:has(> select#status-type),
*/

div.tasks-modal-priorities > label,
span:has(> input#priority-medium) {
    display: none;
}

.tasks-modal-priorities {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    grid-template-columns: 8em 8em 8em 8em;
    /* grid-template-columns: 4em 4em 4em 4em; */
}


.tasks-modal textarea {
    height: 35px !important;
}

.tasks-modal-buttons {
    padding-top: 0px !important;
}

/*************************************************************************/


/*========================================================================*/


/* Fixes for smaller screens *********************************************/

@media screen and (max-width: 900px) {
    .tony-dashboard div.callout[data-callout="col"] {
        width: 100%;
    }

    .tony-dashboard .callout[data-callout="row"] .callout-content {
        display: flex;
        flex-flow: column;
    }
}


@media screen and (max-width: 600px) {
    .tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-preview-section,
    .tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-preview-section > div,
    .tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-reading-section,
    .tony-dashboard.markdown-preview-view.is-readable-line-width .markdown-reading-section > div {   
       /* width: 55% !important; */
       /* max-width: 55% !important; */
       width: 95% !important;
       max-width: 95% !important;
     }

    .tony-dashboard .cm-sizer {
        --line-width: 95% !important;
        /* --line-width: 55% !important; */
    }

    .tony-small-dashboard .tony-task-div {
        /* margin-left:  10px; */
        /* margin-right: 10px; */
        font-size: 0.8em;
    }

    .tony-small-dashboard .tony-task-tags-holder {
        font-size: 0.8em;
    }

    .cm-scroller {
        padding: 17px !important;
    }

    .tony-small-dashboard .cm-scroller {
        padding: 10px !important;
    }

    .tony-small-dashboard li {
        max-width: 100%;
    }
}

/*************************************************************************/


/*========================================================================*/

/* Neon theme fixes */

.tony-dashboard span {
    color: #323232;

/* .tony-dashboard div.cm-scroller { */
.cm-scroller {
    padding: 0px !important;
}


/*========================================================================*/
